
:root{
   
    --azul: #3340FF;
    --blanco: #FFFFFF;
    --celeste:#63c2e7;    ;    
    --negro: #000000;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: url('#');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{    
    background-color: var(--celeste);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img{
    width: 100%;
    border-radius: 40px;
}

ol,li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a{
    margin-right: 25px;
    color: var(--blanco);
    text-decoration: none;

}

li a:hover{
    color: #CBFB71;
}

.boton-header{
    margin: 0px;
    padding: 10px;
    background-color: var(--azul);
    color: var(--blanco);
    border-radius: 10px;
}

/* hero */

.hero{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.hero-descripcion h1{
    font-size: 50px;
    margin: 0;
}

.hero-descripcion h1 strong{
    color: var(--azul);
}

.hero-descripcion h2{
    font-weight: lighter;
}

.hero-descripcion a{
    background-color: var(--azul);
    padding: 10px 20px;
    color: var(--blanco);
    text-decoration: none;
    border-radius: 10px;
}

.hero-img{
    margin: 0px;
    padding: 0px;
}

.hero-img img{
    width: 600px;
}

/* SUSCRIPCION  */

.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.suscripcion-caja{
    background-color: #F7F7F7;
    height: 250px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.sus-descripcion h1{

    font-weight: lighter;
    font-size: 15px;
}

.sus-descripcion h1 strong{
    font-size: 30px;
}

.sus-form input{
    border-color: transparent;
    height: 40px;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 7px 40px 5px rgba(135, 135, 135, 0.16);
}

.sus-form a{
    text-decoration: none;
    background-color: var(--azul);
    color: var(--blanco);
    padding: 12px;
    border-radius: 0px 10px 10px 0px;

}

/* Programas */
.programas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.programas-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.programas-img img{
    width: 400px;
}

.programas-detalle{
    display: flex;
    flex-direction: column;
}

.programas-detalle p{
    font-size: 15px;
    font-weight:500;
    color: #6D6D6D;
}

.programas-detalle h1{
    font-size: 40px;
    margin: 0px;
}

.programas-detalle h2{
    font-size: 20px;
    font-weight:500;
    color: #6D6D6D;
}

.botones{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton1{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.16);
}

.boton2{
    background-color: var(--blanco);
    color: var(--azul);
    padding: 10px 50px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.16);
}
/* Tarjetas */

.tarjet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
    flex-wrap: wrap;
}

.tarjet-box{
    width: 500px;
    background-color: #F1F1F1;
    padding: 10px 20px 30px;
    border-radius: 20px;
    margin: 20px 50px;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tr{
    margin: 20px 0px;
}

.tarjet-box figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: var(--azul);
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tarjet-box figure img{
    width: 40px;
}

/* GALERIA */

.contenedor-galeria{
    margin: auto;
    background-color: #F1F1F1;
    width: 800px;
    padding: 30px;
    border-radius: 20px;
}

.contenedor-galeria li, ul{

    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-galeria{

    position: relative;
    width: 800px;
    height: 300px;
}

.slider-galeria li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: var(--blanco);
    transition: opacity .5s;
}

.slider-galeria img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.slider-galeria li:first-child{
    opacity: 1;
}

.slider-galeria li:target{
    opacity: 1;
}

.menu-galeria{
    text-align: center;
    margin: 20px;
}

.menu-galeria li{
    display: inline-block;
    text-align: center;
}

.menu-galeria li a{

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--azul); 
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 50%;   
}

/* SOBRE NOSOTROS */

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.about-descripcion h3{
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
}

.about-descripcion h1{
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}
.about-descripcion h2{
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;
    margin: 0;
}

.about-descripcion p{
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
    margin-bottom: 50px;
}

.about-descripcion a{
    background-color: var(--blanco);
    color: var(--azul);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.16);
}

.about-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-redes h1{

    color: var(--azul);
    font-size: 15px;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 10px 0px;
}

.redes img{
    width: 40px;
}
.redes a{
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
    text-decoration: none;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: var(--celeste);
    border-radius: 20px 20px 0px 0px;
    color: var(--blanco);
    padding: 45px 0px;
}

footer h2{
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

footer h1{
    font-size: 45px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}

footer a{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 15px 65px;
    border-radius: 10px;
    text-decoration: none;

}
